@media (max-width: 768px) {
    /* Cambios para pantallas pequeñas */
    .home .navbar-toggler-icon {
        font-size: 21px;
    }

    .detalle_pieza .card-text{
        font-size: 15px;
        margin-left: 10px;  
    }
}

.home .navbar a {
    font-size: 30px;
    width: auto;
    
}

.detalle_pieza .card-title{
    margin-top: 40px;
    font-size: 35px;
    margin-bottom: 40px;
}
.detalle_pieza .card-text{
    
    font-size: 20px;   
}

.editar_cuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh; /* Esto centra el contenido verticalmente en toda la pantalla */
}
.editar_cuenta .registro{
    font-size: 20px;
    display: flex;
    flex-direction: column; /* Para que los elementos se apilen verticalmente */
    gap: 15px; /* Espacio entre los elementos */
    width: 100%;
    max-width: 500px; /* Ancho máximo del formulario para que no ocupe toda la pantalla */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el formulario */
    background-color: #bed5fffb; /* Fondo claro */
    border-radius: 8px; /* Bordes redondeados */
    
} 
.agregar .background{
    background-color: red; /* Solo para verificar que el CSS está cargando */
}





